<h1>Developers</h1>
<p>
  These are the current contributors of this website and all the projects showcase <a href="/projects">here</a>.
</p>

<p>
  <a href="/developers/vincent">Vincent Fournier</a>
</p>

<p>
  <a href="/developers/jean-philippe">Jean Philippe Parent</a>
</p>
