<section>
  <div class="row">
    <span class="col-md-3">
      <img src="/assets/img/vincent/vincent.png" class="img-circle smallPicture">
    </span>

    <span class="col-md-9">
    <h2>Vincent Fournier</h2>

    <p>I'm currently working on developing a key expertise concerning web technologies and software development while
      studying in software engineering at l'École de Technologies Supérieure of Montréal the only university in Quebec
      offering engineering degree specially made for students with a technical background.</p>

    <p>I've also already spent three years at Cegep in learning how to program and how to create basic business
      application in different language (mainly Java, C# and C++)</p>
    </span>
  </div>
</section>

<br>

<section>
  <div class="row">
    <div class="col-lg-6">
      <h3>My work tools</h3>
      <span ng-repeat="tool in tools">
        <svg id="{{tool.name}}" height="80" width="80" xmlns="http://www.w3.org/2000/svg"
             xmlns:xlink="http://www.w3.org/1999/xlink">
          <image x="0" y="0" height="70" width="70" xlink:href={{tool.icon}} ></image>
        </svg>

      </span>
    </div>
  </div>
</section>

