.content-description img {
  display: block;
  margin-left: auto;
  margin-right: auto; }
.content-description h2 {
  padding-top: 0px;
  margin-top: 5px;
  text-align: center; }
.content-description p {
  color: #97FF4C; }

.nav-img {
  margin: 0px;
  padding: 1px; }

.navbar-default {
  margin-bottom: 2px;
  padding: 0px;
  background: #464346 none; }
  .navbar-default .navbar-brand {
    color: #bebebe; }
    .navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
      color: #bebebe;
      text-decoration: none; }
  .navbar-default .profilName {
    color: #97FF4C; }
    .navbar-default .profilName:hover, .navbar-default .profilName:focus {
      color: #97FF4C;
      text-decoration: none; }
  .navbar-default .navbar-nav > li {
    text-shadow: none;
    text-decoration: none;
    color: #bebebe; }
    .navbar-default .navbar-nav > li > a {
      color: #bebebe; }
      .navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
        color: #97FF4C; }
  .navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    box-shadow: none;
    background-image: none;
    background-color: #464346;
    color: #97FF4C; }

.main-container {
  padding-top: 70px; }
