section {
    padding: 0 0;
}

@media(min-width:768px) {
    .navbar-fixed-top {
        padding: 15px 0;
    }

    .navbar-fixed-top .navbar-brand {
        font-size: 2em;
    }
}

.centered {
    text-align: center;
}

.no-padding {
    padding: 0;
}

.smallPicture {
	width: 200px;
    height: 200px;
}

.mediumPicture {
    width: 300px;
    height: 300px;
}


