
.vincentProjectLabel {
    border-radius: 0 !important;
    padding-right: 8px;
}

.vincentProject {
    margin: auto;
    padding-bottom: 18px;
}

.vincentProject h1,
.vincentProject h4,
.vincentProject small,
.vincentProject p {
    color: #ffffff;

    max-width: 300px;

    padding-left: 14px;
    padding-right: 14px;
}

.vincentProjectType {
    position: absolute;
    font-size: 130%;
}

.vincentProjectTitle {
    position: absolute;

    top: 75px;
}

.vincentProjectPostTitle {
    position: absolute;
    top: 120px;
}


.vincentProjectDescription {
    position: absolute;
    top: 120px;
    margin-right: 20px;
}

.projectVincentPersonalBorder {
    border: medium solid #428bca;
}

.projectVincentPersonalBackground {
    background-color: rgba(66, 139, 202, .90);
}

.projectVincentInternshipBorder {
    border: medium solid #5cb85c;
}

.projectVincentInternshipBackground {
    background-color: rgba(92, 184, 92, .90);
}

.projectVincentSchoolBorder {
    border: medium solid #f0ad4e;
}

.projectVincentSchoolBackground {
    background-color: rgba(240, 173, 78, .90);
}
