$bgDefault: #464346;
$colDefault: #bebebe;
$colHighlight: #97FF4C;

.content-description {
  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  h2 {
    padding-top: 0px;
    margin-top: 5px;
    text-align: center;
  }

  p {
    color: $colHighlight;
  }
}

.nav-img {
  margin: 0px;
  padding: 1px;
}

.navbar-default {
  margin-bottom: 2px;
  padding: 0px;

  background: $bgDefault none;

  .navbar-brand {
    color: $colDefault;
    &:hover, &:focus {
      color: $colDefault;
      text-decoration: none;
    }
  }

  .profilName {
    color: $colHighlight;
    &:hover, &:focus {
      color: $colHighlight;
      text-decoration: none;
    }
  }

  .navbar-nav {
    > li {
      text-shadow: none;
      text-decoration: none;
      color: $colDefault;

      > a {
        color: $colDefault;
        &:hover,  &:focus {
          color: $colHighlight;
        }
      }
    }
    > .active {
      > a, > a:hover, > a:focus {
        box-shadow: none;

        background-image: none;
        background-color: $bgDefault;
        color: $colHighlight;
      }
    }
  }
}

.main-container {
  padding-top: 70px;
}