<h2>Welcome to our website</h2>
<p>
  This website serve as a portal for all the projects we are currently working on and old ones we want to showcase.
</p>

<p>
  We're always looking for developers or else (we clearly need a CSS magician) to take part in our adventure feel free to contact us.
</p>

<br>

<div class="row">
  <div class="col-md-4 content-description">
    </a>
    <a href="/projects">
  </div>
  <div class="col-md-4 content-description">
  </div>
</div>
