<section>
  <div>
    <h2>Projects</h2>

    <p>Click <a href="//bitbucket.org/vfournier">here</a> to see the source code of certain projects.</p>
  </div>
  <div class="row">
    <div class="col-md-4" data-ng-repeat="project in projects">
      <div class="vincentProject">
        <div class="vincentProjectType">
      <span class="vincentProjectLabel label {{projectsType[project.type].label}}">
        <span class="glyphicon {{projectsType[project.type].glyphicon}}"></span> {{project.type}}
      </span>
        </div>

        <div class="vincentProjectTitle {{projectsType[project.type].background}}"><h4>{{project.title}}</h4></div>
        <img class="mediumPicture {{projectsType[project.type].border}}" src="{{project.imageSource}}"
             alt="{{project.title}}"/>

        <div class="vincentProjectDescription {{projectsType[project.type].background}}">
          <h4>
            <small>{{project.postTitle}}</small>
          </h4>
          <p>{{project.postDescription}}</p>
        </div>
      </div>
    </div>
  </div>
</section>